<html>
        <title></title>
        <head>
                <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" title="default" />
        </head>
        <body>
                <script src="js/jquery-1.7.1.min.js" type="text/javascript"></script>
                <script>
                        $(document).on("pageinit",function(){
                                $("#addphoto").bind("tap",function(){
                                        var options = {sourceType:Camera.PictureSourceType.PHOTOLIBRARY,destinationType: Camera.DestinationType.FILE_URI};
                                        navigator.camera.getPicture(onCameraSuccess, onError,options);
                                });
                        });
                        function onCameraSuccess(imgURI){
                                $("#noteimage").attr("src",imageURI);
                                $("#noteimage").css("display","block");
                        }
                        function onError(message){
                                alert(message);
                        }
                        
                        
                </script>
               
                
        </body>
</html>
